{% extends 'MangoceleAdminBundle:Default:adminBase.html.twig' %}
{% block pagetitle%}Listado de Categorías{% endblock %}
{% block breadcrumbs%}Categorías{% endblock %}
{% block body -%}
    <a href="{{ path('admin_categorias_new') }}" class="btn btn-blue pull-right">
        Crear Nueva Categoría
    </a>

    <table class="records_list table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Categoria</th>
                <th>Titulo</th>
                <th>Creado por</th>
                <th>Fecha creacion</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</td>
                <td></td>
                <td><a href="{{ path('admin_subcategorias_show', { 'id': entity.id }) }}">{{ entity.titulo }}</a></td>
                <td>{{ entity.createdBy }}</td>
                <td>{% if entity.createdWhen %}{{ entity.createdWhen|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <a href="{{ path('admin_subcategorias_edit', { 'id': entity.id }) }}" title="Editar" style="margin-left: 10px"><i class="icon-edit"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br clear="all">
{% endblock %}
{% block scripts %}
    <script>
        jQuery(document).ready(function() {
            App.setPage("table_managed");
            App.init(); // init the rest of plugins and elements
            $('#categorias').addClass('active');
            $('#mangocele_userbundle_user_password').val('');
        });
    </script>
{% endblock %}
