<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="user-scalable=1.0,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/screen.css') }}">
    {% block stylesheets %}{% endblock %}
    <script type="text/javascript" src="{{ asset('js/jquery.js') }}" ></script>
    <script type="text/javascript" src="http://coolcarousels.frebsite.nl/js/jquery.carouFredSel.js" ></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap.js') }}" ></script>
    <script>window.scrollTo(0,1);</script>
</head>
<body>
<div class="container">
    <div class="header">
        <div class="logo">
            <a href="/">
                <img src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('images/logo.png') }}" alt="Mangocele" width="203" height="57">
            </a>

        </div>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-menu">
                <span class="sr-only">Toggle navigation</span>
                <span class="glyphicon glyphicon-th-list"></span>
            </button>
        </div>
        <div class="search">
            <form role="search">
                <div class="form-group">
                    <input type="text" class="form-control main-search" placeholder="Que Necesitas?">
                    <button type="submit" class="btn btn-default btn-no-border">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </div>
            </form>
        </div>
        <div class="main-menu collapse navbar-collapse" id="main-menu">
            <ul class="nav nav-pills">
                <li> <a href="/">Inicio</a> </li>
                <li> <a href="/categorias">Categorias</a> </li>
                <li> <a href="/empresas">Empresas</a> </li>
                <li> <a href="/conocenos">Conocenos</a> </li>
                <li> <a href="/contactenos">Contacto</a> </li>
                <li> <a href="/clientes">LogIn</a> </li>
            </ul>
        </div>
    </div>
    <div class="container">
        {% block body %}{% endblock %}
    </div>
    <div class="footer navbar visible-lg">
        Mangocele.cr | 2014
    </div>
</div>

</body>
</html>