{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Productos</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Idempresa</th>
                <td>{{ entity.idEmpresa }}</td>
            </tr>
            <tr>
                <th>Titulo</th>
                <td>{{ entity.titulo }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ entity.descripcion }}</td>
            </tr>
            <tr>
                <th>Cantidad</th>
                <td>{{ entity.cantidad }}</td>
            </tr>
            <tr>
                <th>Dimensiones</th>
                <td>{{ entity.dimensiones }}</td>
            </tr>
            <tr>
                <th>Peso</th>
                <td>{{ entity.peso }}</td>
            </tr>
            <tr>
                <th>Valoracion</th>
                <td>{{ entity.valoracion }}</td>
            </tr>
            <tr>
                <th>Createdby</th>
                <td>{{ entity.createdBy }}</td>
            </tr>
            <tr>
                <th>Createdwhen</th>
                <td>{{ entity.createdWhen|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_productos') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_productos_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
